@media only screen and (min-width: 960px) {
#container {
	width: 960px;
    }
}
html{
	height: 100%;
}
body{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	height:100%;
}
#container {
	margin: 0 auto 24px auto;
	background: lightblue;
/*	box-shadow: 0px 0px 45px #cc0000;*/
	border-radius: 10px;
}
h1
{
  text-align: center;
  height: 1.5em;
  margin-bottom: 0;
}
.bucket {
	width: auto;
	display:inline-block;
	margin: 0 0 20px 9%;
	border: 1px solid #262626;
	text-align:center;
	max-width: 200px;
	vertical-align: top;
}
.hidden >:not(#edit){
	display:none;
}
/**
 * Tabs
 */
.tabs {
	display: flex;
	flex-wrap: wrap;
}

.tabs label {
	order: 1;
	display: block;
	padding: 1rem 2rem;
	margin-right: 0.2rem;
	cursor: pointer;
	background: #90CAF9;
	font-weight: bold;
	transition: background ease 0.2s;
	border-radius: 10px 10px 0 0;
}

.tabs label:hover {
  background: rgb(144, 249, 144);
}

.tabs .tab {
	order: 99; /*Put the tabs last*/
	flex-grow: 1;
	width: 100%;
	display: none;
	padding: 1rem;
	background: #fff;
}
.tabs input[type="radio"] {
	display: none;
}
.tabs input[type="radio"]:checked + label {
	background: #fff;
}
.tabs input[type="radio"]:checked + label + .tab {
	display: block;
}

/* @media (max-width: 45em) {
  .tabs .tab,
  .tabs label {
    order: initial;
  }
  .tabs label {
    width: 100%;
    margin-right: 0;
    margin-top: 0.2rem;
  }
} */

/* The Modal (background) */
.modal {

    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
/* Modal Content/Box */
.modal-content {
	display:grid;
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
	grid-template-columns: 25vw 25vw auto;
	grid-template-rows: auto auto;
	grid-gap: 1em;
	height: auto;
	align-content: center;
}
.header{
	grid-column: 1 / 3;
	grid-row: 1;
}

.img{
	grid-column: 1 / 3;
	grid-row: 2;
}
/* The Close Button */
.close {
	grid-column: 3;
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
	text-align: right;
	margin-top: 0;
}
.close:hover,
.close:focus {
    color: red;
    text-decoration: none;
    cursor: pointer;
}
#click{
	width: 100%;
}
.modal-input{
	grid-column-start: 3;
	grid-column-end: 4;
}

.wrapper {
    position: relative;
    border:1px solid #000;
    width:252px;
    height:294px;
}
#overlay {
	display:none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 10;
}

/* just some content with arbitrary styles for explanation purposes */
#modal2 {
padding: 2%;
display: none;
/* width: 10em; */
/* height: 200px; */
line-height: 2em;
position: fixed;
top: 20%;
left: 50%;
/* margin-top: -100px; */
margin-left: -150px;
background-color: lightblue;
border-radius: 5px;
text-align: center;
z-index: 11;
}

.fa-spin {
  font-size: 2em;
}

 a.logo img{
	 /* display: block; */
	 /* float: right; */
	 width: 150px;
	 /* height: 100px; */
	 margin: 10px 0 0 0;
 }
.starRating:not(old){
  display        : inline-block;
  width          : 11.5em;
  height         : 2.0em;
  overflow       : hidden;
  vertical-align : bottom;
}
.starRating:not(old) > input{
  margin-right : -100%;
  opacity      : 0;
}
.starRating:not(old) > label{
  display         : block;
  float           : right;
  position        : relative;
  background      : url('star-off.svg');
  background-size : contain;
}
.starRating:not(old) > label:before{
  content         : '';
  display         : block;
  width           : 1.5em;
  height          : 1.5em;
  background      : url('star-on.svg');
  background-size : contain;
  opacity         : 0;
  transition      : opacity 0.2s linear;
}
.starRating:not(old) > label:hover:before,
.starRating:not(old) > label:hover ~ label:before,
.starRating:not(:hover) > :checked ~ label:before{
  opacity : 1;
}

/* Button Styling */

button.button{
	/* this was the orignal display for the buttons with rounded edges. This changes the default to bigger, squarer buttons.
  display:inline-block;
  padding:0.3em 1.2em;
  margin:0 0.3em 0.3em 0;
  border-radius:2em;
  box-sizing: border-box;
  text-decoration:none;
  font-family:sans-serif;
  font-weight:300;
  color:#000;
  background-color:#4eb5f1;
  text-align:center;
  transition: all 0.2s;
  border: none;
  */
  background-color: #1a75ff;
  border: none;
  color: white;
  padding: 12px 20px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  }
  button.button:hover{
    color:#fff;
    background-color:#327399;
  }

  /* Seperate button style for Scan Dir */
#scan-dir{
	margin: 2em 2em;
    border-radius:0.5em;
    background-color:#44ce6e;
    }
#scan-dir:hover{
    background-color:#327399;
    }

@media (max-width: 600px) {
  a.logo img{
    width: 100px;
  }
  .modal-input{
    grid-column-start: 3;
    grid-column-end: 4;
  
  }
  /* The Close Button */
.close{
	text-align: center;
}
 }

/* Radio button styling */

.radio-select{
  padding: 0 0 0 2%;
}

.form-radio
{
     -webkit-appearance: none;
     -moz-appearance: none;
     appearance: none;
     display: inline-block;
     position: relative;
     background-color: #f1f1f1;
     color: #666;
     top: 10px;
     height: 30px;
     width: 30px;
     border: 0;
     border-radius: 50px;
     cursor: pointer;     
     margin-right: 7px;
     outline: none;
}
.form-radio:checked::before
{
     position: absolute;
     font: 13px/1 sans-serif;
     left: 11px;
     top: 7px;
     content: '\02143';
     transform: rotate(40deg);
}
.form-radio:hover
{
     background-color: #f7f7f7;
}
.form-radio:checked
{
     background-color: #44ce6e;
}
label
{
     font: 300 16px/1.7 sans-serif;
     color: #666;
     cursor: pointer;
} 

/* Form input styles */

.form-style-1 {
    margin:0px auto;
    padding: 20px 12px 10px 20px;
    font: 13px sans-serif;
}

.form-style-1 input[type=text], 
.form-style-1 input[type=date],
.form-style-1 input[type=datetime],
.form-style-1 input[type=number],
.form-style-1 input[type=search],
.form-style-1 input[type=time],
.form-style-1 input[type=url],
.form-style-1 input[type=email],
textarea, 
select{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border:1px solid #BEBEBE;
    padding: 7px;
    margin:0px;
    outline: none;  
}
.form-style-1 input[type=text]:focus, 
.form-style-1 input[type=date]:focus,
.form-style-1 input[type=datetime]:focus,
.form-style-1 input[type=number]:focus,
.form-style-1 input[type=search]:focus,
.form-style-1 input[type=time]:focus,
.form-style-1 input[type=url]:focus,
.form-style-1 input[type=email]:focus,
.form-style-1 textarea:focus, 
.form-style-1 select:focus{
    -moz-box-shadow: 0 0 8px black;
    -webkit-box-shadow: 0 0 8px black;
    box-shadow: 0 0 8px white;
    border: 1px solid white;
}
.form-style-1 .field-divided{
    width: 49%;
}

.form-style-1 .field-long{
    width: 100%;
}
.form-style-1 .field-select{
    width: 100%;
}
.form-style-1 .field-textarea{
    height: 100px;
}


.form-style-1 input[type=text]{
    padding: 12px 16px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #66a3ff;
    outline: none;
}

input[type=text]:focus{
    background-color: #cce0ff;
}


.form-style-1 input[type=submit], .form-style-1 input[type=button]{
    background: #4B99AD;
    padding: 8px 15px 8px 15px;
    border: none;
    color: #fff;
}
.form-style-1 input[type=submit]:hover, .form-style-1 input[type=button]:hover{
    background: #4691A4;
    box-shadow:none;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
}
.form-style-1 .required{
    color:red;
}

/* Drop down styling */

.select::before {
  content:"\f078";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: #000;
  padding: 12px 8px;
  position: absolute; right: 0; top: 0;
  background: #46a6dd;
  z-index: 1;
  text-align: center;
  width: 15%;
  height: 100%;      
  pointer-events: none;
  box-sizing: border-box;   
}

.select {
  border: 1px solid #ccc;
  overflow: hidden; 
  height: 40px;    
  width: 240px;
  position: relative;
  display: block;
}

select{       
  height: 40px;
  padding: 5px;
  border: 0;
  font-size: 16px;       
  width: 240px;
 -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}